---
layout: default
---

<article class="post">
    <div class="container">
        <header class="post__header">
            <h1 class="post__title">{{ page.title }}</h1>
            <div class="post__meta">
                <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date: "%d %B %Y" }}
                </time>
                {% if page.author %}
                <span class="post__author">door {{ page.author }}</span>
                {% endif %}
            </div>
        </header>
        
        {% if page.image %}
        <div class="post__image">
            <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" loading="lazy">
        </div>
        {% endif %}
        
        <div class="post__content">
            {{ content }}
        </div>
        
        <footer class="post__footer">
            <a href="{{ '/agenda/' | relative_url }}" class="btn btn--secondary">
                <i class="fas fa-arrow-left"></i>
                Terug naar agenda
            </a>
        </footer>
    </div>
</article>


